version: "3.8"

services:
  backend:
    image: e-trader-backend-backend
    container_name: backend
    ports:
      - "8080:8080"
    networks:
      - ecommerce-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react-ecommerce
    ports:
      - "80:80"
    networks:
      - ecommerce-network
    depends_on:
      - backend

networks:
  ecommerce-network:
    driver: bridge
